<!--Include header file-->
<%- include('include/_header')%>
<p style="font-size:35px;color:blue;">Welcome the final version is coming at soon</p>
<br>
<br>
<hr>
<div class="user_container conatiner-details">
  <div class="user_details">

    <div>
      <% if(typeof user != 'undefined'){ %>
    <%= user%>
        <% }%>    </div>
            <h1>Hello <%= name%></h1>
        <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">LOGOUT</button>
    </form>

    <table class="table-conatiner">
      <th class="head-table">
        <a href="/view_user">Users details</a>
        <br>
        <hr>
        <a href="/view_jogging">Jogging details</a>
      </th>
    </table>
  </div>
</div>
<!--Include footer file-->
<%- include('include/_footer')%>
