<!--Include header file-->
<%- include('include/_header')%>
<p style="font-size:35px;color:blue;">Welcome the final version is coming at soon</p>
<br>
<br>
<hr>
<div class="user_container conatiner-details">
  <div class="user_details">
    <table class="table-conatiner">
      <th class="head-table">
        <a href="/view_user">Users details</a>
        <br>
        <hr>
        <a href="/view_jogging">Jogging details</a>
      </th>
    </table>
  </div>
</div>
<!--Include footer file-->
<%- include('include/_footer')%>
