<!--Include header file-->
<%- include('include/_header')%>
<p>jdjddddddddddddddddddddddd</p>
<div class="user_container">
  <div class="user_details">
    <table class="table-conatiner">
      <th class="head-table">
        Users details
      </th>
    </table>
  </div>
</div>
<!--Include footer file-->
<%- include('include/_footer')%>
