html, body, h1, h2, h3, h4, h5, h6, p, pre,
ul, ol, li, a, img, div, form, input,
input, textarea, table, tr, th, td, nav,
footer, header, hgroup, menu, figure, figcaption, time, meter {
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
}
.conatiner-details{
  padding: 20px;
  margin: 5px;
  width: 600px;
  height: 300px;
}
.table-conatiner  .head-table {
  color: blue;
  font-size: 35px;
  margin-left: 200px;
}

p {
  color: red;
}
th, td {
  border-style:solid;
  border-color: #96D4D4;
}
/*Header*/
.head-text {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
}
/**Styling adding new user*/
form.appForm {
    width: 100%;
    margin: 0 auto;
}

form.appForm fieldset {
    padding: 0 10px;
    box-sizing: border-box;
    border: solid 1px #e4e4e4;
}

form.appForm fieldset legend {
    padding: 5px 10px;
    color: #FFF;
    background: #408eba;
    line-height: 1.5;
}

form.appForm.n10 {
    width: 10%;
}
form.appForm.n20 {
    width: 20%;
}
form.appForm.n30 {
    width: 30%;
}
form.appForm.n40 {
    width: 40%;
}
form.appForm.n50 {
    width: 50%;
}
form.appForm.n60 {
    width: 60%;
}
form.appForm.n70 {
    width: 70%;
}
form.appForm.n80 {
    width: 80%;
}
form.appForm.n90 {
    width: 90%;
}

form.appForm div.input_wrapper {
    width: 100%;
    position: relative;
    height: 55px;
    clear: both;
}

 form.appForm div.input_wrapper.n10,
form.appForm div.input_wrapper.n20,
form.appForm div.input_wrapper.n30,
form.appForm div.input_wrapper.n40,
form.appForm div.input_wrapper.n50,
form.appForm div.input_wrapper.n60,
form.appForm div.input_wrapper.n70,
form.appForm div.input_wrapper.n80,
form.appForm div.input_wrapper.n90 {
    float: left;
    clear: none;
    box-sizing: border-box;
}

form.appForm div.input_wrapper.n10 {
    width: 10%;
}
form.appForm div.input_wrapper.n20 {
    width: 20%;
}
form.appForm div.input_wrapper.n30 {
    width: 30%;
}
form.appForm div.input_wrapper.n40 {
    width: 40%;
}
form.appForm div.input_wrapper.n50 {
    width: 50%;
}
form.appForm div.input_wrapper.n60 {
    width: 60%;
}
form.appForm div.input_wrapper.n70 {
    width: 70%;
}
form.appForm div.input_wrapper.n80 {
    width: 80%;
}
form.appForm div.input_wrapper.n90 {
    width: 90%;
}

form.appForm div.input_wrapper.border {
    border-right: solid 1px #e4e4e4;
}

form.appForm div.input_wrapper_other {
    width: 100%;
    position: relative;
    min-height: 55px;
    clear: both;
    border-top: solid 1px transparent;
    border-bottom: solid 1px #e4e4e4;
}

form.appForm div.input_wrapper_other.n10,
form.appForm div.input_wrapper_other.n20,
form.appForm div.input_wrapper_other.n30,
form.appForm div.input_wrapper_other.n40,
form.appForm div.input_wrapper_other.n50,
form.appForm div.input_wrapper_other.n60,
form.appForm div.input_wrapper_other.n70,
form.appForm div.input_wrapper_other.n80,
form.appForm div.input_wrapper_other.n90 {
    float: left;
    clear: none;
    box-sizing: border-box;
}

form.appForm div.input_wrapper_other.n10 {
    width: 10%;
}
form.appForm div.input_wrapper_other.n20 {
    width: 20%;
}
form.appForm div.input_wrapper_other.n30 {
    width: 30%;
}
form.appForm div.input_wrapper_other.n40 {
    width: 40%;
}
form.appForm div.input_wrapper_other.n50 {
    width: 50%;
}
form.appForm div.input_wrapper_other.n60 {
    width: 60%;
}
form.appForm div.input_wrapper_other.n70 {
    width: 70%;
}
form.appForm div.input_wrapper_other.n80 {
    width: 80%;
}
form.appForm div.input_wrapper_other.n90 {
    width: 90%;
}

form.appForm div.input_wrapper_other.border {
    border-right: solid 1px #e4e4e4;
}

form.appForm div.input_wrapper_other label.radio,
form.appForm div.input_wrapper_other label.checkbox {
    margin-right: 10px;
    height: 20px;
    display: inline-block;
    line-height: 1.5;
    font-size: 0.85em;
}

form.appForm div.input_wrapper_other label:first-child {
    display: block;
    margin: 7px 0;
    font-size: 0.85em;
}

form.appForm div.input_wrapper_other label.radio div.radio_button,
form.appForm div.input_wrapper_other label.checkbox div.checkbox_button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    background: #e4e4e4;
    float: left;
    margin-right: 5px;
}

form.appForm div.input_wrapper_other label.radio.block,
form.appForm div.input_wrapper_other label.checkbox.block {
    display: block;
}

form.appForm div.input_wrapper_other label.checkbox div.checkbox_button {
    border-radius: 0px;
}
form.appForm div.input_wrapper_other label.radio:hover div.radio_button,
form.appForm div.input_wrapper_other label.checkbox:hover div.checkbox_button {
    background: #ccc;
}

form.appForm div.input_wrapper_other label.radio input[type=radio]:checked + div.radio_button,
form.appForm div.input_wrapper_other label.checkbox input[type=checkbox]:checked + div.checkbox_button {
    background: #408eba;
}

form.appForm div.input_wrapper_other label.checkbox input[type=checkbox]:checked + div.checkbox_button::after {
    font-family: FontAwesome;
    display: inline-block;
    content: '\f00c';
    color: #FFF;
    font-size: 0.9em;
    margin: 1px;
    text-align: center;
}

form.appForm div.input_wrapper_other label.radio input[type=radio],
form.appForm div.input_wrapper_other label.checkbox input[type=checkbox] {
    opacity: 1;
    position: absolute;
    z-index: -1;
}

form.appForm div.input_wrapper_other.select {
    position: relative;
}

form.appForm div.input_wrapper_other select {
    background: #f7f7f7;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    border: solid 1px #f7f7f7;
    padding: 5px 15px;
    line-height: 1.7;
    display: block;
    margin-top: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 0.9em;
}
form.appForm div.input_wrapper_other select:focus {
    outline: none;
}

form.appForm div.input_wrapper_other.select::after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    content: 'keyboard_arrow_down';
    position: absolute;
    top: 15px;
    right: 5px;
}
form.appForm div.input_wrapper_other textarea {
    background: #f7f7f7;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #f7f7f7;
    display: block;
    margin: 8px 0;
    padding: 20px;
    font-size: 0.85em;
}
form.appForm div.input_wrapper label {
    position: absolute;
    font-size: 0.9em;
    bottom: 10px;
    transition: all 0.3s ease-in-out;
}

form.appForm div.input_wrapper label.floated {
    bottom: 30px;
    font-size: 0.75em;
    color: #408eba;
}

form.appForm div.input_wrapper_other.padding {
    padding-left: 10px;
}

form.appForm div.input_wrapper.padding label {
    left: 10px;
}

form.appForm div.input_wrapper input {
    width: 100%;
    height: 30px;
    border-bottom: solid 1px #e4e4e4;
    position: absolute;
    background: transparent;
    font-size: 1em;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    color: #222;
    box-sizing: border-box;
    padding: 0 10px 0 0;
}

form.appForm div.input_wrapper.padding input {
    padding: 0 10px;
}
form.appForm input[type=submit] {
    width: 80px;
    font-size: 1em;
    color: #FFF;
    padding: 5px;
    line-height: 1.5;
    background: #408eba;
    margin: 10px 0;
    float: right;
    clear: both;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border: solid 1px transparent;
}

form.appForm input[type=submit]:hover,
form.appForm input[type=submit]:active,
form.appForm input[type=submit]:focus {
    background: #FFF;
    color: #408eba;
    border: solid 1px #408eba;
}

form.appForm div.input_wrapper input:focus {
    background: none !important;
    border-bottom: solid 2px #408eba;
}

form.appForm div.input_wrapper > i {
    position: absolute;
    top: 25px;
    right: 10px;
    text-align: center;
    width: 20px;
    height: 18px;
    color: #FFF;
    border-radius: 20px;
    padding-top: 2px;
}

form.appForm div.input_wrapper > i.error {
    background: #900;
}

form.appForm div.input_wrapper > i.success {
    background: darkgreen;
}

/* Login And Signup Styles */

div.action_view.login,
div.action_view.signup {
    padding-top: 1px;
}

div.login_box,
div.signup {
    width: 300px;
    margin: 130px auto 0 auto;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
}

div.login_box form img,
div.signup_box form img{
    display: block;
    margin: 30px auto;
}

div.login_box form h1,
div.signup_box form h1 {
    text-align: center;
    font-family: "Neo Sans Arabic Medium" !important;
}

div.login_box form div.border,
div.signup_box form div.border {
    width: 60px;
    height: 5px;
    background-color: #408eba;
    margin: 10px auto;
}

div.login_box form input[type=email],
div.login_box form input[type=password],
div.login_box form input[type=submit],
div.signup_box form input[type=email],
div.signup_box form input[type=password],
div.signup_box form input[type=text],
div.signup_box form input[type=submit] {
    border: solid 1px #f2f5f6;
    background: #f2f5f6;
    padding: 12px 10px 7px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.login_box form input[type=email],
div.login_box form input[type=password],
div.signup_box form input[type=email],
div.signup_box form input[type=text],
div.signup_box form input[type=password] {
    padding-right: 35px;
}

div.login_box form input[type=submit],
div.signup_box form input[type=submit] {
    background-color: #408eba;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}

div.login_box form input[type=submit]:hover,
div.login_box form input[type=submit]:active,
div.signup_box form input[type=submit]:hover,
div.signup_box form input[type=submit]:active {
    background: #9eb2bd;
}

div.login_box form input[type=email]:focus,
div.login_box form input[type=email]:focus,
div.signup_box form input[type=email]:focus,
div.signup_box form input[type=email]:focus {
    background-color: #f9f9fa;
    border: solid 1px #f1f1f1;
}

div.login_box form div.input_wrapper,
div.signup_box form div.input_wrapper {
    position: relative;
}

div.login_box form div.input_wrapper.username::after,
div.signup_box form div.input_wrapper.username::after {
    position: absolute;
    content: url(/img/usericon.png);
    z-index: 1;
    top:13px;
    right: 12px;
}
div.login_box form div.input_wrapper.useremail::after,
div.signup_box form div.input_wrapper.useremail::after {
    position: absolute;
    content: "\2709";
    z-index: 1;
    top:10px;
    right: 12px;
}

div.login_box form div.input_wrapper.password::after,
div.signup_box form div.input_wrapper.password::after {
    position: absolute;
    content: url(/img/passwordicon.png);
    z-index: 1;
    top:10px;
    right: 12px;
}

div.login_box form input:-webkit-autofill,
div.signup_box form input:-webkit-autofill {
    background-color: #f2f5f6 !important;
    -webkit-box-shadow: inset 0 0 0px 9999px #f2f5f6;
}

div.login_box form input:-webkit-autofill:focus,
div.signup_box form input:-webkit-autofill:focus {
    border-color: #f9f9fa;
    -webkit-box-shadow: inset 0 0 0px 9999px #f9f9fa;
    border-bottom: solid 1px #f9f9fa;
}
